.flavour-calendar {
    width: 220px;
    height: 150px;
    display: inline-block;
    position: relative;
    border-color: rgb(160,160,160);
    border-width: 1px;
    border-style: solid;
    font-family: sans-serif;
    font-size: 9pt;
}
.flavour-calendar-previous-month, .flavour-calendar-month, .flavour-calendar-next-month {
    position: absolute;
    display: block;
    top: 0;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
.flavour-calendar-previous-month {
    left: 0;
    width: 20px;
}
.flavour-calendar-next-month {
    right: 0;
    width: 20px;
}
.flavour-calendar-month {
    left: 20px;
    right: 20px;
    text-align: center;
    cursor: default;
}
.flavour-calendar-previous-month, .flavour-calendar-next-month {
    background: none;
    border-style: none;
    outline-style: none;
    cursor: pointer;
    padding: 0;
}
.flavour-calendar-previous-month > span, .flavour-calendar-next-month > span {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
}

.flavour-calendar-previous-month > span {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij4KPHBhdGggZD0iTSAxNi4wMzI5NTYsLTAuMDE3NzA0NzMgMC4wMzg3MTU4NCw3Ljk3NjUzNTkgMTYuMDMyOTU2LDE1Ljk3MDc3NiBaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4=);
}

.flavour-calendar-next-month > span {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij4KPHBhdGggZD0iTSAwLjAzODcxNTg0LC0wLjAxNzcwNDczIDE2LjAzMjk1Niw3Ljk3NjUzNTkgMC4wMzg3MTU4NCwxNS45NzA3NzYgWiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+);
}

.flavour-calendar-sheet {
    position: absolute;
    left: 4px;
    right: 4px;
    top: 24px;
    bottom: 4px;
    border-top-color: rgb(210,210,210);
    border-top-style: solid;
    border-top-width: 1px;
}
.flavour-calendar-day {
    position: absolute;
    width: 28px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: right;
    cursor: pointer;
    box-sizing: border-box;
    padding: 2px;
    border-right-color: rgb(210,210,210);
    border-right-style: solid;
    border-right-width: 1px;
}
.flavour-calendar-weekdays {
    top: 2px;
    cursor: default;
}
.flavour-calendar-week-0 {
    top: 22px;
}
.flavour-calendar-week-1 {
    top: 42px;
}
.flavour-calendar-week-2 {
    top: 62px;
}
.flavour-calendar-week-3 {
    top: 82px;
}
.flavour-calendar-week-4 {
    top: 102px;
}
.flavour-calendar-weekday-index-0 {
    left: 0;
}
.flavour-calendar-weekday-index-1 {
    left: 14.28%;
}
.flavour-calendar-weekday-index-2 {
    left: 28.57%;
}
.flavour-calendar-weekday-index-3 {
    left: 42.86%;
}
.flavour-calendar-weekday-index-4 {
    left: 57.14%;
}
.flavour-calendar-weekday-index-5 {
    left: 71.43%;
}
.flavour-calendar-weekday-index-6 {
    left: 85.71%;
    border-right-style: none;
}
.flavour-calendar-weekday-1, .flavour-calendar-weekday-7 {
    color: rgb(200,0,0);
}
.flavour-calendar-inactive-day {
    color: rgb(180,180,180);
}
.flavour-calendar-inactive-day.flavour-calendar-weekday-1,
.flavour-calendar-inactive-day.flavour-calendar-weekday-7 {
    color: rgb(220,180,180);
}
.flavour-calendar-current-day {
    color: blue;
    font-weight: bold;
}

.flavour-dropdown {
    display: block;
    position: absolute;
    background: white;
    z-index: 1100;
}
.flavour-dropdown-calendar {
    width: 222px;
    height: 152px;
}